

<div class="contenedorLogin">

  <h2>Registrarse</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>


    <div class="field">
        <%= f.label 'Nombre' %><br />
        <%= f.text_field :nombre, autofocus: true, autocomplete: "nombre",:class => 'form-control' %>
    </div>


    <div class="field">
        <%= f.label 'RFC' %><br />
        <%= f.text_field :rfc, autofocus: true, autocomplete: "rfc",:class => 'form-control' %>
    </div>


    <div class="field">
        <%= f.label 'Empresa' %><br />
        <%= f.text_field :empresa, autofocus: true, autocomplete: "empresa",:class => 'form-control' %>
    </div>

    <div class="field">
        <%= f.label 'Correo Electronico' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",:class => 'form-control' %>
    </div>
    

    <div class="field">
      <%= f.label 'Password' %>
      <% if @minimum_password_length %>
      <em><br>(<%= @minimum_password_length %> caracteres minimo)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off",:class => 'form-control' %>
    </div>

    <div class="field">
      <%= f.label 'Confirmacion de password' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off",:class => 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Registrarse" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
