<div class="col-md-12">
	<p>
		<h2>Empleado de sucursal</h2>
	</p>
	<% if @error %>
	<div class="alert alert-warning" role="alert"><h3><%= @error %></h3></div>
	<% end %>
		<%= form_for @empleado, url: {action: "update"}, html: {class: ""} do |e| %>
		<% if @empleado.errors.any? %>
			<div id="error_explanation">
			<h3>
				<%= pluralize(@empleado.errors.count, "error") %> no permitieron que se actualizara la informacion:
			</h3>
			<ul>
				<% @empleado.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
			</div>
		<% end %>
			<table class='table table-hover table-striped'>
				<tr>
					<th>Nombre</th>
					<td><%= e.text_field :nombre,	class: 'form-control' %></td>
				</tr>
				<tr>
					<th>RFC</th>
					<td>
						<input readonly="true" class="form-control" value="<%= @empleado.rfc %>">
					</td>
				</tr>
				<tr>
					<th>Puesto</th>
					<td><%= e.text_field :puesto,	class: 'form-control' %></td>
				</tr>
				<tr>
					<th>Sucursal</th>
					<td>
						<select name="empleado[sucursal_id]" class="form-control">
							<option value="<%= @empleado.sucursal_id %>" selected>
								<% @suc.each do |suc| %>
									<%= suc.nombre %>
								<% end %>
							
							</option>
							<% @sucursalesDisp.each do |li| %>
 								<option value="<%= li.id %>"><%= li.nombre %></option>
							<% end %>
						</select>
					</td>
				</tr>
			</table>
			<%= e.submit 'Actualizar informacion', :class => 'btn btn-info' %>
		<% end %>
</div>