<div class="col-md-12">
	<p>
		<h2>Crear empleado</h2>
	</p>
	<!-- <% flash.each do |key, value| %>
		<div class="alert alert-warning alert-dismissible"><%= value %></div>
	<% end %> -->
	
		<%= form_for @empleado, url: {action: "create"}, html: {class: ""} do |e| %>
		<% if @empleado.errors.any? %>
			<div id="error_explanation">
			<ul>
				<% @empleado.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
			</div>
		<% end %>
			<table class='table table-hover table-striped'>
				<tr>
					<th>Nombre</th>
					<td><%= e.text_field :nombre,	class: 'form-control' %></td>
				</tr>
				<tr>
					<th>RFC</th>
					<td><%= e.text_field :rfc,	class: 'form-control' %></td>
				</tr>
				<tr>
					<th>Puesto</th>
					<td><%= e.text_field :puesto,	class: 'form-control' %></td>
				</tr>
				<tr>
					<th>Sucursal</th>
					<td>
						<select name="empleado[sucursal_id]" class="form-control">
							<%= @sucursalesDisp.each do |li| %>
								<option value="<%= li.id %>"><%= li.nombre %></option>
							<% end %>
						</select>
					</td>
				</tr>
			</table>
			<%= e.submit 'Guardar Empleado', :class => 'btn btn-success' %>
		<% end %>
</div>