<%= stylesheet_link_tag    "application", :media => "login" %>



<div class="container">
  <div class="contenedorLogin">
  <h2>Iniciar sesion</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- Flash Notice for Rails notifications -->
    <% if notice %>
    <p class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only" style="font-size: 14px !important;"> Close</span></button>
      <%= notice %>
    </p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only" style="font-size: 14px !important;"> Close</span></button>
      <%= alert %>
    </p>
  <% end %>  
  <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",:class => 'form-control' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off" ,:class => 'form-control' %>
    </div>

    <!-- <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :Recuerdame %>
      </div>
    <% end -%> -->

    <div class="actions">
      <%= f.submit "Iniciar sesion", :class => 'btn btn-success' %>
    </div>
  <% end %>

  <!-- <%= render "devise/shared/links" %> -->
  </div>
</div>
