<table class='table'>
	<tr>	
		<th>Nombre</th>
		<td><input type="text" name="nombre" placeholder=""></td>
	</tr>
	<tr>	
		<th>Calle</th>
		<td><input type="text" name="nombre" placeholder=""></td>
	</tr>
	<tr>	
		<th>Colonia</th>
		<td><input type="text" name="nombre" placeholder=""></td>
	</tr>
	<tr>	
		<th>Num. Ext.</th>
		<td><input type="number" name="nombre" placeholder=""></td>
	</tr>
	<tr>	
		<th>Num. Int.</th>
		<td><input type="number" name="nombre" placeholder=""></td>
	</tr>
	<tr>	
		<th>C.P.</th>
		<td><input type="number" name="nombre" placeholder=""></td>
	</tr>
	<tr>	
		<th>Pais</th>
		<td><input type="text" name="nombre" placeholder=""></td>
	</tr>
	<tr>	
		<th>Ciudad</th>
		<td><input type="text" name="nombre" placeholder=""></td>
	</tr>
</table>