<h1>Editar Sucursal</h1>
<div class="col-md-12">
	<%= form_for @sucursal, url: {action: "update"}, html: {class: ""} do |s| %>
	
	<% if @sucursal.errors.any? %>
		<div id="error_explanation">
		<h3>
			<%= pluralize(@sucursal.errors.count, "error") %> no permitieron que se actualizara la informacion:
		</h3>
		<ul>
			<% @sucursal.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
		</div>
	<% end %>

		<table class='table'>
			<tr>	
				<th>Nombre</th>
				<td><%= s.text_field :nombre,class: 'form-control' %></td>
			</tr>
			<tr>	
				<th>Calle</th>
				<td><%= s.text_field :calle,class: 'form-control' %></td>
			</tr>
			<tr>	
				<th>Colonia</th>
				<td><%= s.text_field :colonia,class: 'form-control' %></td>
			</tr>
			<tr>	
				<th>Num. Ext.</th>
				<td><%= s.number_field :numExt,class: 'form-control' %></td>
			</tr>
			<tr>	
				<th>Num. Int.</th>
				<td><%= s.number_field :numInt,class: 'form-control' %></td>
			</tr>
			<tr>	
				<th>C.P.</th>
				<td><%= s.number_field :cp,class: 'form-control' %></td>
			</tr>
			<tr>	
				<th>Pais</th>
				<td><%= s.text_field :pais,class: 'form-control' %></td>
			</tr>
			<tr>	
				<th>Ciudad</th>
				<td><%= s.text_field :ciudad,class: 'form-control' %></td>
			</tr>
		</table>
		<%= s.submit 'Actualizar informacion', :class => 'btn btn-info' %>
		<% end %>
	</div>
