<style type="text/css">
.btnMains{
    margin-right: 10px;
}
</style>

<div class="container">
    <%= link_to "Nueva Sucursal", new_sucursale_path, id: "news", class: "btnMains btn btn-primary pull-right btn-md" %>

	<% if @sucursal.length > 0 %>
    	<%= link_to "Nuevo Empleado", new_empleado_path, id: "new", class: "btnMains btn btn-primary pull-right btn-md" %>
	<% end %>
	<h1>Sucursales</h1>

    <% if @sucursal.length > 0 %>
    	<table class="table table-hover table-striped">
    		<tr>
    			<th></th>
    			<th>Nombre</th>
    			<th>Calle</th>
    			<th>Codigo Postal</th>
    			<th>Pais</th>
    			<th>Ciudad</th>
    			<th></th>
    			<th></th>
    			<th></th>
    		</tr>
		    <% @sucursal.each do |s| %>
		      <tr>
		      	<td><%= s.id %></td>
		      	<td><%= s.nombre %></td>
		      	<td><%= s.calle %></td>
		      	<td><%= s.cp %></td>
		      	<td><%= s.pais %></td>
		      	<td><%= s.ciudad %></td>
		      	<td><%= link_to "Ver", controller: "sucursales",  action: "show", id: s.id  %></td>
		      	<td><%= link_to "Editar", controller: "sucursales", action: "edit", id: s.id  %></td>
		      	<td><%= link_to "Eliminar", sucursale_path(s.id), method: :delete, data: {confirm: "Estas seguro?"}  %></td>
		      </tr>
		    <% end %>
	    </table>
    <% else %>
    	<h2>No hay sucursales.</h2>
    <% end %>

    <%= will_paginate @sucursal %>

</div>

