<h1>Crear nueva sucursal</h1>

<div class="container">
<%= form_for @sucursal, url: {action: "create"}, html: {class: ""} do |s| %>
	<% if @sucursal.errors.any? %>
		<div id="error_explanation">
		<h3>
			<%= pluralize(@sucursal.errors.count, "error") %> no permitieron que se actualizara la informacion:
		</h3>
		<ul>
			<% @sucursal.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-6">
			<!-- Plantilla sucursal -->
			<table class='table table-condensed tablaX'>
				<tr>	
					<th>Nombre</th>
					<td><%= s.text_field :nombre ,class: 'form-control' %></td>
				</tr>
				<tr>	
					<th>Calle</th>
					<td><%= s.text_field :calle ,class: 'form-control' %></td>
				</tr>
				<tr>	
					<th>Colonia</th>
					<td><%= s.text_field :colonia ,class: 'form-control' %></td>
				</tr>
				<tr>	
					<th>Num. Ext.</th>
					<td><%= s.number_field :numExt ,class: 'form-control' , :value => 0  %></td>
				</tr>
				<tr>	
					<th>Num. Int.</th>
					<td><%= s.number_field :numInt ,class: 'form-control' , :value => 0  %></td>
				</tr>
				<tr>	
					<th>C.P.</th>
					<td><%= s.number_field :cp ,class: 'form-control', :value => 0  %></td>
				</tr>
				<tr>	
					<th>Pais</th>
					<td><%= s.text_field :pais ,class: 'form-control' %></td>
				</tr>
				<tr>	
					<th>Ciudad</th>
					<td><%= s.text_field :ciudad ,class: 'form-control' %></td>
				</tr>
			</table>
		</div>
		<div class="col-md-6" id="empleados">
				<!-- Plantilla empleados -->
			<%= s.nested_fields_for :empleados do |e| %>
				<%= e.remove_nested_fields_link 'x', class: 'btn btn-danger btn-xs pull-right', role: 'button' %>
				<table class='table table-condensed tablaX'>
					<tr>	
						<th>Nombre</th>
						<td><%= e.text_field :nombre ,class: 'form-control' %></td>
					</tr>
					<tr>	
						<th>RFC</th>
						<td><%= e.text_field :rfc ,class: 'form-control' %></td>
					</tr>
					<tr>	
						<th>Puesto</th>
						<td><%= e.text_field :puesto ,class: 'form-control' %></td>
					</tr>
				</table>
			<% end %>
				<div id="empleadosLista"></div>
				<center>
					<%= s.add_nested_fields_link :empleados, 'Agregar Empleado', data: { insert_into: 'empleadosLista' }, class: 'btn btn-primary', id:'addNueva', role: 'button' %>
				</center>
		</div>
		<input id="fieldsActivos" type="text" hidden>
	</div>

<%= s.submit %>

<% end %>
</div>