<div class="row">
	<div class="col-md-6">
		<p>
			<h2><%= @sucursal.nombre %></h2>
		</p>
		<table class='table'>
			<tr>	
				<th>Nombre</th>
				<td><%= @sucursal.nombre %></td>
			</tr>
			<tr>	
				<th>Calle</th>
				<td><%= @sucursal.calle %></td>
			</tr>
			<tr>	
				<th>Colonia</th>
				<td><%= @sucursal.colonia %></td>
			</tr>
			<tr>	
				<th>Num. Ext.</th>
				<td><%= @sucursal.numExt %></td>
			</tr>
			<tr>	
				<th>Num. Int.</th>
				<td><%= @sucursal.numInt %></td>
			</tr>
			<tr>	
				<th>C.P.</th>
				<td><%= @sucursal.cp %></td>
			</tr>
			<tr>	
				<th>Pais</th>
				<td><%= @sucursal.pais %></td>
			</tr>
			<tr>	
				<th>Ciudad</th>
				<td><%= @sucursal.ciudad %></td>
			</tr>
		</table>
		<%= link_to "Editar", edit_sucursale_path, action:'update' ,id: "news", class: "btn btn-info btn-xs pull-right" %>
	</div>
	<div class="col-md-6">
		<p>
			<h2>Empleados de sucursal</h2>
		</p>
		<% if @empleados.length < 5 %>
			<%= link_to "Agregar empleado", new_empleado_path, action:'new' ,id: @sucursal.id, class: "btn btn-info btn-xs pull-right botonAgregarEmpleado" %>
		<% end %>
		<% if @empleados.length != 0 %>
			<table class='table table-hover table-striped tablaEmpleados'>
				<tr>
					<th>Nombre</th>
					<th>RFC</th>
					<th>Puesto</th>
					<th></th>
					<th></th>
				</tr>
			<% @empleados.each do |e|  %>
				<tr class='active'>
					<td><%= e.nombre %></td>
					<td><%= e.rfc %></td>
					<td><%= e.puesto %></td>
					<td>
						<%= link_to  edit_empleado_path(e.id), class: "btn btn-info btn-xs pull-right" do %>
							<i class="glyphicon glyphicon-pencil"></i>
						<% end %>
					</td>
					<td>
						<%= link_to  empleado_path(e.id), method: :delete, class: "btn btn-danger btn-xs pull-right" do %>
							<i class="glyphicon glyphicon-remove"></i>
						<% end %>

					</td>
				</tr>
			<% end %>
			</table>
		<% else %>	
			<h2>Sin empleados</h2>
		<% end %>
		
	</div>
</div>